:root{
    --box-color: #c0f8c7;
    --button-color:rgb(7, 176, 142);
    --background-color:#c2f8e9;
    --box2-color:#c2f8e9;
    --list-background:rgb(10, 212, 171);
    --header-footer:rgb(41, 226, 189);
    
}

body{
    background-color:var(--background-color);
    height: auto;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont;
}

.container{
    transition: transform .5s ease-out;
}

/* -----------------------Header----------------------- */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--header-footer);

    position: fixed;
    width: 98%;
    height: 70px;
    top: 0;
    z-index: 20;
    border-bottom: 1px solid black;
}

.logo{
    display: flex;
    align-items: center;
}

.icon-cart{
    cursor: pointer;
    transition: all .2s ease-out;
}

.icon-cart:hover{
    stroke-width: 0.5;
    transform: scale(1.1);
}

h1{
    font-weight:400;

}

/* -----------------------section----------------------- */
section{
    height: 85vh;
}

.home-img{
    width: 98%;
    margin-left: 1%;
    
    margin-bottom: 8rem;


}

.home-img2{
    display: none;
}

.sec-anim{
    border: 1px solid black;

    position: relative;
    top: 80px;

    animation: popUp 0.5s ease-in 1s forwards;

    transform: translate(5px, 10px);
}

@keyframes popUp{
    from{
        transform: translate(5px, 10px);
        box-shadow: 0px 0px;
    }
    to{
        box-shadow: 7px 14px;
        transform: translate(0px, 0px);
    }
}


/* -----------------------Advertisement----------------------- */
.advertisement{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    
}

.advertisement div h2{
    font-size: 65px;
    font-weight: 500;
}
.advertisement div p{
    font-size: 40px;
    margin: 15px 0;
}
.advertisement div button{
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.advertisement div button:hover{
    transform: scale(1.05);
    box-shadow: 3px 6px black;
}

.adv-data{
    width: 50%;
}

.adv-div{
    width: 50%;
}

.advertisement div img{
    width: 100%;
}

/* -----------------------Heading----------------------- */
.headin{
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
}

.headin > h1{
    font-size: 2.5rem;
    color: black;
}


/* -----------------------main----------------------- */

h2{
    font-weight: 300;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 

    height: 100dvh;
    width: 96%;
    margin-left: 2%;
    place-items: center;

    gap: 0px;
}

.item-img{
    width: 13rem;
    border-radius: 10px;
    border: 1px solid black;
    
}

.item{
    width: 13rem;
    height: 20rem;
    border: 1px solid black;
    border-radius: 15px;
    background-color: var(--box-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin: 10px;
    padding: 10px;
    box-shadow: 5px 10px; /* Softer shadow */
    transition: all 0.2s ease-in-out;
}

.item:hover{
    box-shadow: 0 0;
    transform: translate(5px, 10px)
}

.addToCart{
    height: 30px;
    width: 6rem;
    border: 1px solid black;
    cursor: pointer;

    background-color: var(--button-color);
    border-radius: 5px;
    color: white;

    transition: all 0.2s ease-in-out;

}

.item:hover button {
    transform: translate(-5px, -10px);
    box-shadow: 2px 4px rgba(0, 0, 0, 1);
}

/* -----------------------Cart Tab----------------------- */

.cartTab{

    color: black;
    background-color: var(--list-background);
    border-left: 2px solid black;

    width: 27rem;
    height: 100dvh;
    position: fixed;
    z-index: 30;

    inset: 0 -28rem 0 auto;
    display: grid;
    grid-template-rows: 50px 1fr 70px;

    transition: .4s ease-in-out;
    /* display: none; */
}

body.showCart .cartTab{
    inset: 0 0 0 auto;
}

.body.showCart .container{
    transform: translateX(-250px)
}

.cartTab .listCart,h1{
    margin: 5px 10px;
}

.cartBtn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 2px 10px;
    gap: 2px;
}

.cartBtn > button{
    background-color: var(--box-color);
    border: none;
    cursor: pointer;

    border: 1px solid black;
    font-size: 20px;
}

.close{
    background-color: var(--box2-color) !important;
}

/* -----------------------Cart items----------------------- */

.cartTab .listCart .items img{
    width: 100%;

    position: relative;
    top: 1.5px;
    left: 1.5px;
}

.cartTab .listCart .items{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;

    background-color: var(--box2-color);
    border: 1px solid black;

}

.listCart .items:nth-child(even){
    background-color: var(--box-color);
    color: black;
}

.listCart{
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.listCart::-webkit-scrollbar{
    width: 0;

}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--list-background);
    color: black;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.15rem;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color:black;
}

/* -----------------------Footer----------------------- */

footer{
    height: 20rem;
    background-color: var(--header-footer);
    border-top: 1px solid black;
}


@media (max-width: 500px) {

    main{
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr)); 
        gap: 20px;
    }

    h1{
        font-size: 23px;
    }

    h2,button{
        font-size: 15px;
    }

    .item:active{
        box-shadow: 0 0;
        transform: translate(5px, 10px)
    }

    .item:active button {
        transform: translate(-5px, -10px);
        box-shadow: 2px 4px rgba(0, 0, 0, 1);
    }

    .home-img{
        display: none;
    }
    .home-img2{
        display: block;
        width: 90%;
        margin-left: 4%;

    }

    section{
        height: auto;
        min-height: 100;
    }

    .cartTab{
        width: 100%;
        inset: 0 100% 0 auto;
    }
    .cartTab .listCart .items{
        grid-template-columns: 80px 1fr 1fr 1fr;
    }
    .item-img{
        width: 100%;
    }

    .item{
        width: 8rem;
        height: 13.5rem;
    }

    .quantity{
        width: 100px;
    }

    .quantity span{
        font-size: 1px;
        width: 10px;
        height: 10px;
    }
    .plus{
        height: 2px;
        width: 2px;
    }

    .advertisement{
        flex-direction:column-reverse;
        width: 70%;
        margin-top: 30%;
    }

    .adv-data{
        width: 100%;
    }
    
    .adv-div{
        width: 100%;
    }
    

    .advertisement div h2{
        font-size: 35px;
        font-weight: 400;
    }
    .advertisement div p{
        font-size: 25px;
        margin: 15px 0;
    }
    .advertisement div button{
        height: 30px;
        width: 80px;
        font-size: 10px;
    }

    .headin{
        margin: 30px 0;
        height: 40px;
    }
    .headin > h1{
        font-size: 1.5rem;

        color: black;
    }

    footer{
        display: none;
    }
}

